* {
    background-color: #EAB178;
}

th {
    border: 2px black solid;
    height: 50px;
    width: 50px;
}

#rules {
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
}

#buttons {
    display: inline;
}

#p03 {
    background-color: blue; 
}

#p30 {
    background-color: red;
}

#up {
    position: relative;
    left: 45px; 
}

#down {
    position: relative;
    left: 40px; 
}

#table {
    margin-left: 1cm;
}

header {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}